Source: tel-plugin-indicator
Section: libs
Priority: extra
Maintainer: DongHoo Park <donghoo.park@samsung.com>
Uploaders: DongHoo Park <donghoo.park@samsung.com>
Build-Depends: debhelper (>= 5),
               libtcore-dev, libglib2.0-dev, dlog-dev,
Standards-Version: 0.0.0

Package: tel-plugin-indicator
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: telephony client API library (Shared Object)

Package: tel-plugin-indicator-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tel-plugin-indicator (= ${Source-Version})
Description: telephony client API library (dbg package)

